# Dashboard de Vendas

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

In [3]:
# Conexão com PostgreSQL (use o nome do container como host)
usuario = 'usuario'
senha = '1234'
host = 'localhost'
porta = '5432'
banco = 'dashboard'

engine = create_engine(f'postgresql+psycopg2://{usuario}:{senha}@{host}:{porta}/{banco}')

In [4]:
# Leitura de dados de exemplo
df_vendas = pd.read_sql('SELECT * FROM vendas', engine)
df_vendas.head()

,ID do pedido,Data,Cod. Produto,ID Loja,Quantidade,Valor Unitario,Valor Total
0,14242,44197,TR0002,L90011,5,"5,37","26,85"
1,32104,44197,BA0001,L90011,1,"50,42","50,42"
2,36203,44197,GO0003,L90011,2,"56,29","112,58"
3,45805,44197,BO0002,L90011,1,"16,42","16,42"
4,54884,44197,TR0001,L90011,1,"8,06","8,06"

In [ ]:
# Agrupamento e visualização
vendas_por_loja = df_vendas.groupby('loja_id')['quantidade'].sum()

vendas_por_loja.plot(kind='bar', title='Total de Vendas por Loja', ylabel='Quantidade')
plt.tight_layout()
plt.show()